h1 {
  color: rgb(196, 41, 103);
  font-weight: 400;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}

.timer {
  font-size: 20px;
  font-weight: 400;
  margin: 50px;
}

.button {
  background-color: white;
  border: solid 1px rgb(196, 41, 103);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 10px 40px;
  margin: 5px 20px;
}

button:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(196, 41, 103);
  transition: all 200ms ease-in-out;
}
